body {background: gray;

}

/* display inline serve para organizar a lista horizontalmente */

li    {display: inline;
	   




}

#menu{ width: 70%;
       height: 50px;
       background-color:#CCCCFF;
       padding: 2px 0px 2px 0px;
       font-family: helvetica, arial;
       color: #DCDCDC;
       font-weight: bold;
       
}


#sobre_anna{ width: 70%;
	         height: auto;
	         background-color: #e8e8d9;
	         padding-top: 3px;


}

h2 {color: #828271;
	font-size: 1.2em;
	
    
}

#copywright {text-align: center;
	         width: 70%;


}

a { color: #4b566a;
	text-decoration: none;
	


}


.padrao { width:70%;
	      margin-bottom: 5x;


}


#campanha { border: 10px solid: red;


}

